[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Firefox
Comment=Firefox
Exec=/usr/bin/firefox
TryExec=/usr/bin/firefox
Icon=/opt/firefox/browser/icons/mozicon128.png
Terminal=false
Type=Application
